.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:50px; height:40px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:22px
}


.grid td.red {
  background-color:orangered
}
.grid td.yellow {
  background-color:yellow
}
.grid td.green {
  background-color:yellowgreen
}
.grid td.blue {
  background-color:turquoise
}
.grid td.black {
  background-color:gray
}
.grid td.locked {
  background-color: darkgray;
  color: darkgray
}
.grid td.clicked {
    background-color:black;
    font-weight:bold; color:black;
}


